POSTGRES_USER=perf
POSTGRES_PASSWORD=change_me_postgres_password
POSTGRES_DB=perf_lab
BACKEND_INTERNAL_PORT=3000
POSTGRES_PORT=5432
REDIS_PORT=6379
NGINX_PORT=80
PROMETHEUS_PORT=9090
GRAFANA_PORT=3001
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me_grafana_password
